<div class="container" id="footer-top-row">
    <div class="first-child" id="about">
        <h5>About</h5>
        <p>JungleCorgi offers a quick snapshot of stock market information to help you make smarter investment choices.
        </p>
    </div>
    <div class="second-child" id="links">
        <h5>Quick Links</h5>
        <ul>
            <li><a class="link" href="/" target="_self" rel="noreferrer">Home</a></li>
            <li><a class="link" href="contact" target="_self" rel="noreferrer">Contact</a></li>
            <li><a class="link" href="termsofservice" target="_self" rel="noreferrer">Terms</a></li>
            <li><a class="link" href="privacy" target="_self" rel="noreferrer">Privacy</a></li>
            <li><a class="link" href="disclaimer" target="_self" rel="noreferrer">Disclaimer</a></li>
        </ul>
    </div>
</div>
<div class="container" id="footer-bottom-row">
    <div class="first-child">
        <h6>Copyright &#169; 2024
        </h6>
    </div>
    <div class="second-child">
        <h6>Icons by</h6> <a class="link" href="" rel="noopener" target="_blank">Icons8</a>
    </div>
</div>