<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Crimson+Text&family=Noto+Sans:wght@500&family=Roboto:wght@300&family=Angkor&display=swap"
    rel="stylesheet">
<title>JungleCorgi</title>
<link id="tab_logo" rel="shortcut icon" href="/icons8-corgi-24.png" type="image/x-icon">
<link rel="stylesheet" href="/stylesheet/style.css" type="text/css">