*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cold-white: #f7f4f4;
  --cherry: #b11e31;
  --siren: #c4283c;
  --tree: #096344;
  --fir: #148a61;
  --sand: #eee4d6;

  --vanilla: #faf2d1;
  --greenish: #012c12;
  --purp: #b3237c;
  --eve: #15192f;
  --midnight: #03000f;
  --bluish: #0d0042;
  --blackish: #090801;
}

.body {
  display: none;
}

/*mobile display*/
@media screen and (min-width: 320px) {
  .body {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100dvw;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--vanilla);
  }

  #home_body {
    row-gap: 35px;
  }

  body header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  body header h2 {
    display: inline-block;
    position: relative;
    font-family: inherit;
    font-weight: 700;
    padding: 3px 1px 1px 2px;
    height: 40px;
    width: 250px;
    outline: none;
    background-color: var(--greenish);
    color: var(--cold-white);
    border: 1px solid var(--cold-white);
    border-radius: 5px;
    cursor: pointer;
    caret-color: transparent;
    box-shadow: 0 0.5px 5px rgb(23, 23, 23);
    overflow: hidden;
    white-space: nowrap;
  }

  body header h2 span {
    display: inline-block;
    height: 100%;
    min-width: 1px;
  }

  body header h2 br,
  body header h2 div {
    display: none;
  }

  body header h2:focus {
    background-color: var(--eve);
  }

  @keyframes blink {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  body header h2::after {
    content: "";
    display: inline-block;
    position: relative;
    bottom: -2px;
    left: 2.2px;
    width: 7px;
    height: 25px;
    background-color: var(--purp);
    animation-name: blink;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    opacity: 1;
  }

  #logo {
    font-family: "Angkor", "Roboto", "Crimson Text", sans-serif;
    color: var(--greenish);
    font-size: 90%;
  }

  #home_body #timer_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    row-gap: 5px;
    font-family: "Noto Sans", sans-serif;
    color: var(--midnight);
  }

  #home_body #timer_container > #todayDate {
    position: relative;
  }

  #home_body #mkt_status_notification_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #home_body > #mkt_status_notification_container > #mkt_status_notification {
    color: var(--midnight);
  }

  #home_body #index_section_container {
    display: grid;
    justify-content: center;
    padding: 10px 10px 285px 10px;
    grid-template-columns: repeat(3, 92px);
    grid-template-rows: repeat(5, 92px);
    row-gap: 28px;
    column-gap: 20px;
    width: 100%;
    height: max-content;
    position: relative;
    color: var(--cold-white);
  }

  #home_body #index_section_container .index_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1px;
    font-size: 12.5px;
    padding: 1%;
    border: 1px solid white;
    box-shadow: 2.5px 2.5px 2.8px #03000f;
    margin: 2px 1px 2px 1px;
    background-color: var(--greenish);
    border-radius: 8px;
    overflow: hidden;
  }

  #home_body #index_section_container .index_container:hover {
    cursor: pointer;
    border: 1px solid var(--purp);
  }

  #home_body #index_section_container .index_container:active {
    box-shadow: 0.5px 0.5px 0.5px #03000f;
    margin: 3.5px 1px 0.3px 1px;
  }

  #index_section_container .index_container .mkt_name {
    text-align: center;
    color: var(--cold-white);
    font-weight: 600;
  }

  #index_section_container .index_container .price {
    text-align: center;
    font-weight: 600;
  }

  #index_section_container .index_container .ppc_container {
    position: relative;
    top: 1.3px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1px;
  }

  #ticker_body {
    row-gap: 30px;
  }

  #ticker_body > #stock_price_container {
    background-color: inherit;
    position: relative;
    color: var(--midnight);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    width: 100%;
    height: max-content;
    min-height: max-content;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 275px;
    bottom: 20px;
  }

  #home-chart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 17px;
    height: max-content;
    width: 100%;
    max-width: 760px;
  }

  #home-price-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    height: max-content;
    width: max-content;
  }

  #chart_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    max-width: 760px;
    height: 350px;
  }

  /**/
  #progress-bar {
    position: relative;
    width: 90%;
    height: 3em;
    background-color: var(--midnight);
    border-radius: 1.5em;
    color: white;
  }

  #progress-bar::before {
    content: attr(data-label);
    font-family: "Noto Sans" sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0.5em;
    left: 0.5em;
    bottom: 0.5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: var(--purp);
    border-radius: 1em;
    padding: 1em;
  }

  #chart_container > .charts {
    width: 100%;
    height: 100%;
    position: relative;
  }

  #chart-timeline-container {
    position: relative;
    margin: -5px auto auto;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    width: fit-content;
    height: fit-content;
  }

  #chart-timeline-container > .timeline-link:hover {
    cursor: pointer;
  }

  #home_link_container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    column-gap: 9px;
    font-family: "Noto Sans", sans-serif;
    font-size: 10px;
  }
  #home_link_container > a {
    text-decoration: none;
    color: var(--greenish);
  }

  #home_link_container > a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
  }
  #price_hours_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
  }

  #price_hours_container > #company_name {
    width: 315px;
    max-width: 315px;
    overflow: hidden;
    text-wrap: wrap;
  }

  #price_hours_container > #price_time_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6px;
  }

  #price_hours_container > #price_time_container > .reg_after_container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
  }

  #price_hours_container
    > #price_time_container
    > .reg_after_container
    > .trading_hours_container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    column-gap: 3px;
  }

  #price_hours_container
    > #price_time_container
    > .reg_after_container
    > .reg_after_hours_container
    > .hours_pct_container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    column-gap: 5px;
  }

  #technical-opinion-container {
    border: 1px solid var(--eve);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    width: 200px;
    min-width: fit-content;
    padding: 2px;
  }
  .tech-wrappers {
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
  }
  #source-wrapper > a {
    text-decoration: none;
    font-size: 11px;
    color: var(--eve);
  }

  #stock_price_container > #index_data_container {
    position: relative;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 35px;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    color: var(--eve);
  }

  /*slider*/
  #slide-container {
    position: relative;
    top: 30px;
    width: 100%;
    max-width: 760px;
    height: max-content;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: solid 1px var(--eve);
    border-radius: 5px;
    overflow: hidden;
  }

  #nav-buttons-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
  }

  #nav-buttons-container > .chevrons {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }

  #nav-buttons-container > .chevrons > img {
    width: 15px;
  }

  #slide-container > .slides-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    column-gap: 5%;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    /*
    income: 0;
    balance sheet: -100%;
    cash flow: -200%
    */
    transition: transform 0.35s ease-out;
    cursor: grab;
  }

  .slides-wrapper > .slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 5px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: max-content;
    max-height: 100%;
    padding: 0 1% 0.5%;
    user-select: none;
  }

  .annual-label {
    font-size: 10px;
    color: var(--eve);
  }

  .slide-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 0.5%;
    width: 100%;
  }
  .slide-data-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .slide-data {
    font-size: 12px;
    font-weight: 200;
    width: 20%;
    min-width: 20%;
    max-width: 20%;
    white-space: nowrap;
    text-align: right;
  }

  .slide-headers {
    font-size: 10px;
    width: max-content;
    max-width: max-content;
  }

  .data-align-left {
    text-align: left;

    width: 40%;
    min-width: 40%;
    max-width: 40%;
  }

  #ratio-container,
  #prev-close-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
  }

  #prev-close-container > .border-line,
  #ratio-container > .border-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--eve);
  }

  #swiper-container {
    position: relative;
    top: 30px;
  }

  #summary_profile_container {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
    width: 100%;
    height: max-content;
    overflow: hidden;
  }

  #summary_profile_container > #summary_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3px;
    max-width: max-content;
  }

  #summary_profile_container > #summary_container > p {
    font-size: 12.5px;
    font-family: inherit;
  }

  #summary_profile_container > #profile_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3px;
    height: max-content;
  }

  #profile_container > #profile_container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 14px;
    height: max-content;
  }

  #profile_container2 > #address_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3px;
    font-size: 12.5px;
  }

  #profile_container2 > #address_container > #city_state_container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    column-gap: 3.5px;
  }

  #website > a:link {
    text-decoration: none;
    color: var(--eve);
  }

  #website > a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--bluish);
  }

  #profile_container2 > #key_execs_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    font-size: 12.5px;
  }

  #profile_container2 > #key_execs_container > ul {
    list-style: none;
    color: inherit;
  }

  #profile_container2 > #employee_container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
  }

  #profile_container2 > #employee_container > p {
    font-size: 12.5px;
  }

  #error_body main {
    background-color: inherit;
    position: relative;
    max-width: min-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 33px;
    padding-top: 25px;
  }

  #error_body main img {
    margin-top: 25px;
    width: 310px;
  }

  .legal {
    padding-top: 20px;
    row-gap: 20px;
  }

  .legal-wrap {
    display: flex;
    position: relative;
    justify-content: space-between;
    row-gap: 12px;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    max-width: 600px;
    height: 100%;
    padding: 15px 5px 240px;
    /*border: 1px solid var(--midnight);
    border-radius: 5px;*/
  }

  .legal-wrap > #info-we-collect {
    text-decoration: underline;
    font-weight: 700;
  }

  #contact_container {
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    align-items: center;
    background-color: inherit;
    overflow-x: hidden;
  }

  #contact_container h1 {
    font-size: calc(28px);
    font-family: "Crimson Text", sans-serif;
    width: 100%;
    height: fit-content;
    text-align: center;
    color: var(--midnight);
  }

  #contact_container > form {
    width: 260px;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 25px;
    align-items: center;
    border: 2px solid var(--eve);
    border-radius: 3px;
    color: white;
    padding: 11px 0;
    margin: 0 auto;
    position: relative;
  }

  #contact_container > form > input,
  #contact_container > form > textarea {
    width: 85%;
    max-width: 85%;
    color: white;
    background-color: black;
    font-family: "Cormorant SC", sans-serif;
  }

  #contact_container > form > textarea {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
  }

  #contact_container > form > input::placeholder {
    color: white;
    font-family: "Cormorant SC", sans-serif;
    font-size: small;
    background-color: black;
  }

  #contact_container > form > textarea::placeholder {
    color: white;
    font-family: "Cormorant SC", sans-serif;
    font-size: small;
    background-color: black;
  }

  #contact_container > form > button {
    width: 90px;
    max-width: 90px;
    height: 45px;
    color: white;
    background-color: var(--fir);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    font-family: "Cormorant SC", sans-serif;
    font-size: small;
    text-align: center;
    overflow-wrap: normal;
    overflow: hidden;
    opacity: 0.85;
    transition: all 0.2s ease-in-out;
    position: relative;
    border-radius: 10px;
    border-color: var(--fir);
  }

  #contact_container > form > button > .alt-send-button {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
  }

  #contact_container > form > button > .alt-send-button > .send-text {
    position: relative;
    display: block;
    margin-top: 10%;
    font-size: medium;
    font-weight: 800;
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
  }

  #contact_container > form > button > div > img {
    width: 40%;
    height: 40%;
    position: relative;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    margin-top: 30%;
  }

  #contact_container > form > button:hover {
    opacity: 1;
    cursor: pointer;
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }

  #contact_container > form > button > .alt-send-button:hover {
    transform: translate3d(0px, -100%, 0px);
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }

  #contact_container > form > button:active {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
    transform: scale(0.95);
  }

  #error_body main #container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;

    color: #03000f;
    font-family: "Noto Sans";
  }

  #error_body main button {
    background-color: #012c12;
    color: white;
    font-family: "Noto Sans", sans-serif;
    min-width: 75px;
    min-height: 40px;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 7px;
    box-shadow: 1.7px 1.7px 1.5px #03000f;
    cursor: pointer;
    margin: 2px 8px 2px 8px;
  }

  #error_body main button:active {
    box-shadow: 0 0 0 #4a494e;
    margin: 3px 8px 0.5px 8px;
  }

  body footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: max-content;
    padding: 10px 20px 8px;

    font-family: "Noto Sans", sans-serif;
    line-height: 24px;
    color: var(--cold-white);
    background-color: var(--greenish);
  }

  body footer .container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    column-gap: 5%;
    width: 100%;
    font-family: inherit;
  }

  body footer #footer-top-row {
    padding-bottom: 5px;
    border-bottom-width: 0.7px;
    border-bottom-style: solid;
    border-bottom-color: var(--cold-white);
    font-family: inherit;
  }

  body footer .container .first-child {
    width: 175px;
  }

  body footer .container .second-child {
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 9px;
    color: var(--cold-white);
  }

  body footer .container .second-child a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
  }

  body footer .container #about p {
    font-size: 10px;
    color: inherit;
  }

  body footer .container #links ul {
    list-style: none;
    font-size: 10px;
  }

  footer .container .first-child h6,
  footer .container .second-child ul li .link,
  footer .container .second-child h6,
  footer .container .second-child h6 .link {
    color: var(--cold-white);
    text-decoration: none;
    font-size: 9px;
  }
}

@media screen and (min-width: 580px) {
  body header h2 {
    width: 275px;
  }
  #home_body #index_section_container .index_container {
    font-size: 13px;
  }
}

@media screen and (min-width: 600px) {
  #home_body #index_section_container .index_container {
    font-size: 13.3px;
  }
  body footer > #footer-top-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 46px;
    font-family: inherit;
    width: 100%;
  }

  body footer > #footer-top-row .first-child {
    display: flex;
    justify-content: center;
    width: 500px;
    font-family: inherit;
    font-weight: 500;
    position: relative;
    top: 10px;
  }

  body footer > #footer-top-row .first-child p {
    font-size: 18px;
  }

  body footer > #footer-top-row .second-child {
    width: 100%;
    position: relative;
  }

  body footer .container .first-child h5,
  body footer .container .second-child h5 {
    display: none;
  }

  body footer .container #links ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 400;
  }
}

@media screen and (min-width: 750px) {
  #ticker_body > #stock_price_container {
    align-items: center;
  }

  #stock_price_container > #index_data_container {
    flex-direction: row;
    column-gap: 45px;
    align-items: flex-start;
    max-width: 760px;
  }

  #index_data_container > .index-data-kids {
    max-width: 400px;
    border: 1px solid var(--eve);
    border-radius: 3.7px;
  }

  #prev-close-container > .border-line,
  #ratio-container > .border-line {
    padding: 1%;
    max-width: 98%;
  }
  #prev-close-container > .no-border-bottom,
  #ratio-container > .no-border-bottom {
    border-bottom: none;
  }
  #summary_profile_container {
    max-width: 760px;
  }

  #profile_container > #profile_container2 {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 70px;
  }

  #profile_container2 > #key_execs_container {
    justify-content: flex-start;
  }

  #profile_container2 > #employee_container {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 7px;
  }
}

@media screen and (min-width: 1000px) {
  body header h2 {
    width: 300px;
  }

  #home_body #index_section_container {
    display: grid;
    justify-content: center;
    padding: 10px 10px 275px 10px;
    grid-template-columns: repeat(5, 91px);
    grid-template-rows: repeat(3, 88px);
    row-gap: 28px;
    column-gap: 20px;
    width: 100%;
    height: max-content;
    position: relative;
  }

  #home_body #index_section_container .index_container {
    font-size: 13.5px;
  }
}
