<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body id="error_body">
    <main id="error_main">
        <img src="/beagle.jpg" alt="beagle">
        <div id="container">
            <p>Sorry, ticker not found :(</p>
        </div>
        <button id="back-button" type="reset" onclick="window.location.href = '/'">Back</button>
    </main>
    <footer id="error_footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>