<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body id="server-error-body" class="server-error body">
    <h1>
        Server Error. Apologies, please check back again shortly.
    </h1>
    <footer><%- include('./partials/footer.ejs') %></footer>
</body>

</html>