<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body id="error-body" class="error body">
    <h2>
        Server Error
    </h2>
    <footer><%- include('./partials/footer.ejs') %></footer>
</body>

</html>