<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body id="privacy-body" class="legal body">
    <div id="privacy-wrap" class="legal-wrap">
        <h5>Privacy Policy:</h5>
        <p id="privacy-text">
            Last updated: April 17, 2024
            <br>
            <br>
            Your privacy is important to us. This Privacy Policy outlines how we collect, use, and protect your personal
            information
            when you use our website TickrPro.com (the “Service”).
            <br>
            <br>
            Information We Collect:
            <br>
            <br>

            Personal Information:
            <br>
            We collect information you provide directly, such as your name, email address, and any
            other
            details you voluntarily submit.
            <br>
            <br>
            Usage Data:
            <br>
            We automatically collect information about your interactions with the Service, including IP
            addresses,
            browser type, pages visited, and referring URLs.
            How We Use Your Information
            To provide and maintain the Service
            To improve user experience and personalize content
            To communicate with you regarding updates, promotions, and other relevant information
            Data Security
            <br>
            We take reasonable measures to protect your data. However, no method of transmission over the internet or
            electronic
            storage is 100% secure.
            <br>
            <br>
            Cookies and Tracking Technologies:
            <br>
            We use cookies and similar tracking technologies to enhance your experience on our website.
            <br>
            <br>
            Third-Party Services:
            <br>
            We may use third-party services (e.g., analytics tools) that collect and process data. Please review their
            privacy
            policies.
            <br>
            <br>
            Your Choices:
            <br>
            You can opt out of receiving promotional emails. You can also disable cookies in your browser settings.
            <br>
            <br>
            Children’s Privacy:
            <br>
            Our Service is not intended for children under 13. We do not knowingly collect personal information from
            children.
            <br>
            <br>
            Changes to This Privacy Policy:
            <br>
            We may update this Privacy Policy periodically. Check this page for the latest version.
            <br>
            <br>
            Thank you for trusting TickrPro with your information.
        </p>

    </div>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>