<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <!--
<style>
            body footer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 6px;
                position: relative;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                max-height: fit-content;
                padding: 10px 20px 8px;
                font-size: 15px;
                line-height: 24px;
                color: var(--midnight);
                background-color: rgb(255, 255, 255);
            }

            body footer .container {
                display: flex;
                justify-content: space-evenly;
                column-gap: 5%;
                width: 100%;
            }

            body footer #footer-top-row {
                padding-bottom: 5px;
                border-bottom-width: 0.7px;
                border-bottom-style: solid;
                border-bottom-color: var(--midnight);
            }

            body footer .container .first-child {
                width: 175px;
            }

            body footer .container .second-child {
                width: 80px;
            }

            body footer .container #about p {
                font-size: 9px;
                color: inherit;
            }

            body footer .container #links ul {
                text-align: left;
                list-style: none;
                font-size: 9px;
            }

            footer .container .first-child h6 .link,
            footer .container .second-child ul li .link,
            footer .container .second-child h6 .link {
                color: rgb(3, 0, 15);
                text-decoration: none;
            }
        </style>
    -->
</head>

<body id="ticker_body">
    <section id="stock_price_container">
        <h5 id="company_name">
            <%= checkSymbol.price.shortName %>
        </h5>
        <div id="price_percent_container">
            <div id="reg_hours_container">
                <h3 id="reg_hours_price"></h3>
                <h5 id="reg_hours_change"></h5>
                <h5 id="reg_hours_pct"></h5>
            </div>
            <div id="after_hours_container">
                <h3 id="after_hours_price"></h3>
                <h5 id="after_hours_change"></h5>
                <h5 id="after_hours_pct"></h5>
            </div>
        </div>
        <div id="mkt_time_container">
            <div id="at_close_container">
                <p id="at_close_txt"></p>
                <p id="at_close_time"></p>
            </div>
            <div id="after_hours_container">
                <p id="after_hours_txt"></p>
                <p id="after_hours_time"></p>
            </div>
        </div>
    </section>
    <footer id="ticker_footer">
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>